<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
	<meta name="description" content="대한민국 원조 아이폰 수리 업체. 소니,블랙베리 수리전문점.유사업체주의">
	<meta name="naver-site-verification" content="08f4d69573eb904b030363f99c9b81ef02425a9c"/>
	<meta property="og:type" content="website">
	<meta property="og:title" content="아이픽스잇코리아">
	<meta property="og:description" content="대한민국 원조 아이폰 수리 업체. 소니,블랙베리 수리전문점.유사업체주의">
	<meta property="og:image" content="/ifix/public/images/logo.png">
	<meta property="og:url" content="http://ifixitkor.com">
	<title>아이픽스잇코리아</title>
	<link href="/ifix/public/favicon.ico" rel="shortcut icon" type="image/x-icon">
	<!--[if lte IE 7]>
		<meta http-equiv="refresh" content="0;url='underIe8.html'" />
	<![endif]-->
	<script>

	function getInternetExplorerVersion() {
	         var rv = -1; // Return value assumes failure.
	         if (navigator.appName == 'Microsoft Internet Explorer') {
	              var ua = navigator.userAgent;
	              var re = new RegExp("MSIE ([0-9]{1,}[\.0-9]{0,})");
	              if (re.exec(ua) != null)
	                  rv = parseFloat(RegExp.$1);
	             }
	         return rv;
	}

	if(getInternetExplorerVersion() <= 7 && getInternetExplorerVersion() >= 1) {
		location.href = "underIe8.html";
	}
	</script>

	<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic&amp;subset=latin,cyrillic" rel="stylesheet">
	<link href="http://fonts.googleapis.com/css?family=Montserrat:700" rel="stylesheet">
	<link href="http://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
	<link href="/ifix/public/css/preloader.css" rel="stylesheet">
	<link href="/ifix/public/css/bootstrap.css" rel="stylesheet">
	<link href="/ifix/public/css/font-awesome.min.css" rel="stylesheet">
	<link href="/ifix/public/css/animate.css" rel="stylesheet">
	<link href="/ifix/public/css/revolution.css" rel="stylesheet">
	<link href="/ifix/public/css/style.css" rel="stylesheet">

	<style>
		header.main{
			padding-top:10px;
			padding-bottom:10px;
		}
		address{
			margin: 20px 0 20px 10px
		}
		address p{
			margin: 0
		}
	</style>

	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>





	<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>

</head>
<body>

<!-- Preloader -->
<div class="preloader"></div>

<!-- HEADER -->
<header class="header header-light main">

	<!-- NAVBAR -->
	<nav class="navbar container">

		<!-- NAVBAR BRAND -->
		<a class="navbar-brand pull-left nav_logo" href="/ifix/views/home.html">
			<img src="/ifix/public/images/logo.png" alt="I FIX it KOREA" >
		</a>
		<!-- /.navbar-brand -->



		<button class="navbar-toggle pull-right" data-target="#navbar" data-toggle="collapse" type="button">
			<i class="fa fa-bars"></i>
		</button>

		<!-- navbar-appication/notice -->
		<div class="pull-right" style="margin:30px 0 15px">
			<span class="nav_menu_a">
				<a href="contact.html">수리문의</a>
			</span>
			<span class="nav_menu_a" style="padding-right:5px">
				<a href="notice.html">공지사항</a>
			</span>
		</div>

				<!-- NAVBAR COLLAPSE -->
		<div id="navbar" class="navbar-collapse collapse pull-right" style="margin-bottom:10px">

			<ul class="nav navbar-nav">
				<li>
					<a href="home.html">메인</a>
				</li>
				<li>
					<a href="intro.html">회사소개</a>
				</li>
				<li>
					<a href="location.html">지점안내</a>
				</li>
				<li>
					<a href="iphone.html">아이폰 수리비용</a>
				</li>
				<li>
					<a href="sony.html">SONY,블랙베리 수리비용</a>
				</li>
				<li class="active">
					<a href="mainboard.html">메인보드 수리</a>
				</li>
				<li>
					<a href="data.html">데이터복구</a>
				</li>
				<li class="nav_menu_b">
					<a href="contact.html">수리문의</a>
				</li>
				<li class="nav_menu_b">
					<a href="notice.html">공지사항</a>
				</li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->


	</nav>
	<!-- /.navbar -->

</header>
<!-- /.header -->

<!-- WRAPPER -->
<div class="wrapper" >


	<!-- PAGE TITLE -->
	<header class="pagetitle pagetitle-sm">
		<div class="container">
			<div class="divtable irow">
				<div class="divcell">
					<i class="fa fa-columns"></i>
					<h1>메인보드 수리</h1>
					<div class="divider"></div>
					<span class="subtitle">메인보드 수리 및 의뢰</span>
				</div>
				<div class="divcell text-right">
					<ol class="breadcrumb">
						<li><a href="#">홈</a></li>
						<li class="active">메인보드 수리</li>
					</ol>
				</div>
			</div>
		</div>
	</header>
	<!-- /.pagetitle -->
	<!-- CONTENT -->
	<div class="content">
		<!-- mainboard repair -->
		<div class="container">
			<section class="row page-header text-center">
				<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
					<div class="icon icon-color icon-size-7">
						<i class="fa fa-hdd-o"></i>
					</div>
					<h1>메인보드 수리란?</h1>
					<p>사용중 부주의 또는 소프트웨어의 오류 등으로 인하여 단말기가 정상동작을 못하거나 구동이 안될때,
						<br>단말기의 핵심인 PCB 어셈블리를 칩셋단위로 수리하는 것을 말합니다.</p>
				</div>
			</section>
		</div>
		<!-- /.mainboard repair -->
		<hr class="hr-nobg hr-md">
		<!-- repair service -->
		<div class="highlight highlight-light background overlay repaire_back" style="background-image: url('/ifix/public/images/rapair_a.jpg'); ">
			<br>
			<br>
			<br>
			<section class="container">
				<div class="row irow-xs cards-separate cards box_expact">
					<h3 class="text-center">증상 및 예상 견적</h3>
					<br><br>
					<a href="javascript:void(0)" class="col-sm-4 card card-light card-lightest">
						<div class="media">
							<div class="media-left">
								<div class="icon icon-color icon-size-3">
									<i class="fa  fa-tint "></i>
								</div>
							</div>
							<div class="media-body">
								<h4>침수, 충격
									<small>내부 Clanining 및 재조립 등(간단수리)</small>
								</h4>
								<div class="heading-divider"></div>
								<p>3만원 이내
									<br>
									<b>20분~4일</b>
								</p>
							</div>
						</div>
					</a>
					<a href="javascript:void(0)" class="col-sm-4 card card-light card-lightest">
						<div class="media">
							<div class="media-left">
								<div class="icon icon-color icon-size-3">
									<i class="fa fa-tint"></i>
								</div>
							</div>
							<div class="media-body">
								<h4>침수, 충격
									<small>전원불, 먹통, 과열, 오동작 등(난수리)</small>
								</h4>
								<div class="heading-divider"></div>
								<p>5만원 ~ 15만원 이내
									<br>
									<b>20분~4일</b>
								</p>
							</div>
						</div>
					</a>
					<a href="javascript:void(0)" class="col-sm-4 card card-light card-lightest">
						<div class="media">
							<div class="media-left">
								<div class="icon icon-color icon-size-3">
									<i class="fa fa-exclamation-triangle"></i>
								</div>
							</div>
							<div class="media-body">
								<h4>전원불량, 과열, 다운, 리부팅
									<small>침수, 충격 제외</small>
								</h4>
								<div class="heading-divider"></div>
								<p>5만원 ~ 15만원 이내
									<br>
									<b>20분~4일</b>
								</p>
							</div>
						</div>
					</a>
					<a href="javascript:void(0)" class="col-sm-4 card card-light card-lightest">
						<div class="media">
							<div class="media-left">
								<div class="icon icon-color icon-size-3">
									<i class="fa fa-plug"></i>
								</div>
							</div>
							<div class="media-body">
								<h4>충전불량
									<small>충전인식불량, 오동작 등</small>
								</h4>
								<div class="heading-divider"></div>
								<p>5만원 ~ 15만원 이내
									<br>
									<b>20분~4일</b>
								</p>
							</div>
						</div>
					</a>
					<a href="javascript:void(0)" class="col-sm-4 card card-light card-lightest">
						<div class="media">
							<div class="media-left">
								<div class="icon icon-color icon-size-3">
									<i class="fa fa-plug"></i>
								</div>
							</div>
							<div class="media-body">
								<h4>usb인식 안됨
									<small>인식오류</small>
								</h4>
								<div class="heading-divider"></div>
								<p>5만원 ~ 15만원 이내
									<br>
									<b>20분~4일</b>
								</p>
							</div>
						</div>
					</a>
					<a href="javascript:void(0)" class="col-sm-4 card card-light card-lightest">
						<div class="media">
							<div class="media-left">
								<div class="icon icon-color icon-size-4">
									<i class="fa  fa-mobile-phone"></i>
								</div>
							</div>
							<div class="media-body">
								<h4>화면불량 또는 오동작
									<small>LCD자체 픽셀불량제외</small>
								</h4>
								<div class="heading-divider"></div>
								<p>5만원 ~ 15만원 이내
									<br>
									<b>20분~4일</b>
								</p>
							</div>
						</div>
					</a>
					<a href="javascript:void(0)" class="col-sm-4 card card-light card-lightest">
						<div class="media">
							<div class="media-left">
								<div class="icon icon-color icon-size-4">
									<i class="fa  fa-mobile-phone"></i>
								</div>
							</div>
							<div class="media-body">
								<h4>터치안됨 또는 오동작
									<small>LCD자체 불량제외</small>
								</h4>
								<div class="heading-divider"></div>
								<p>5만원 ~ 15만원 이내
									<br>
									<b>20분~4일</b>
								</p>
							</div>
						</div>
					</a>
					<a href="javascript:void(0)" class="col-sm-4 card card-light card-lightest">
						<div class="media">
							<div class="media-left">
								<div class="icon icon-color icon-size-3">
									<i class="fa fa-wifi"></i>
								</div>
							</div>
							<div class="media-body">
								<h4>wifi 안됨 인식불량
									<small>블루투스, GPS등</small>
								</h4>
								<div class="heading-divider"></div>
								<p>5만원 ~ 15만원 이내
									<br>
									<b>20분~4일</b>
								</p>
							</div>
						</div>
					</a>
					<a href="javascript:void(0)" class="col-sm-4 card card-light card-lightest">
						<div class="media">
							<div class="media-left">
								<div class="icon icon-color icon-size-3">
									<i class="fa fa-bell-slash"></i>
								</div>
							</div>
							<div class="media-body">
								<h4>오디오 불량
									<small>송수화음, 외부스피커등</small>
								</h4>
								<div class="heading-divider"></div>
								<p>5만원 ~ 15만원 이내
									<br>
									<b>20분~4일</b>
								</p>
							</div>
						</div>
					</a>
					<a href="javascript:void(0)" class="col-sm-4 card card-light card-lightest">
						<div class="media">
							<div class="media-left">
								<div class="icon icon-color icon-size-3">
									<i class="fa fa-exclamation-triangle"></i>
								</div>
							</div>
							<div class="media-body">
								<h4>진동 불량
									<small>진동 오작동 등</small>
								</h4>
								<div class="heading-divider"></div>
								<p>5만원 ~ 15만원 이내
									<br>
									<b>20분~4일</b>
								</p>
							</div>
						</div>
					</a>
					<a href="javascript:void(0)" class="col-sm-4 card card-light card-lightest">
						<div class="media">
							<div class="media-left">
								<div class="icon icon-color icon-size-3">
									<i class="fa  fa-toggle-on"></i>
								</div>
							</div>
							<div class="media-body">
								<h4>버튼 불량
									<small>파워, 볼륨, 홈버튼 등</small>
								</h4>
								<div class="heading-divider"></div>
								<p>5만원 ~ 15만원 이내
									<br>
									<b>20분~4일</b>
								</p>
							</div>
						</div>
					</a>
					<a href="javascript:void(0)" class="col-sm-4 card card-light card-lightest">
						<div class="media">
							<div class="media-left">
								<div class="icon icon-color icon-size-3">
									<i class="fa fa-exclamation-triangle"></i>
								</div>
							</div>
							<div class="media-body">
								<h4>센서 불량
									<small>근접센서, 조도센서등</small>
								</h4>
								<div class="heading-divider"></div>
								<p>5만원 ~ 15만원 이내
									<br>
									<b>20분~4일</b>
								</p>
							</div>
						</div>
					</a>
					<a href="javascript:void(0)" class="col-sm-4 card card-light card-lightest">
						<div class="media">
							<div class="media-left">
								<div class="icon icon-color icon-size-3">
									<i class="fa fa-camera"></i>
								</div>
							</div>
							<div class="media-body">
								<h4>카메라 불량
									<small>카메라모듈 불량제외</small>
								</h4>
								<div class="heading-divider"></div>
								<p>5만원 ~ 15만원 이내
									<br>
									<b>20분~4일</b>
								</p>
							</div>
						</div>
					</a>
					<a href="javascript:void(0)" class="col-sm-4 card card-light card-lightest">
						<div class="media">
							<div class="media-left">
								<div class="icon icon-color icon-size-3">
									<i class="fa fa-exclamation-triangle"></i>
								</div>
							</div>
							<div class="media-body">
								<h4>오류코드
									<small>복원/업그레이드오류, 레드/블루스크린</small>
								</h4>
								<div class="heading-divider"></div>
								<p>5만원 ~ 15만원 이내
									<br>
									<b>20분~4일</b>
								</p>
							</div>
						</div>
					</a>
					<a href="javascript:void(0)" class="col-sm-4 card card-light card-lightest">
						<div class="media">
							<div class="media-left">
								<div class="icon icon-color icon-size-3">
									<i class="fa fa-stethoscope"></i>
								</div>
							</div>
							<div class="media-body">
								<h4>기타 불량
									<small>자가수리 불량 포함</small>
								</h4>
								<div class="heading-divider"></div>
								<p>상담 후 안내
									<br>
									<b>20분~4일이상</b>
								</p>
							</div>
						</div>
					</a>
				</div>
				<br>
				<p class="text-center">
					<strong>*수리기간이 지연될 경우 남기신 연락처로 안내전화 드립니다.</strong>
					<br>
					<strong>*메인보드 수리비용과 시간은 수리난이도에 따라 차이가 있습니다.</strong>
					<br>
					<strong style="color:#da3636">*메인보드 훼손, 수리흔적, 잡땜흔적등이 있는 경우 기본 수리비 +50%추가 청구됩니다.</strong>
				</p>
			</section>
		</div>
		<!-- /.repair service -->
		<hr class="hr-nobg hr-md">
		<!-- process -->
		<div class="container">
			<section class="row page-header text-center">
				<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
					<h1>메인보드수리 절차</h1>
					<p>데이터복구가 필요없는 단말기를 직접수리하여 정상적으로 사용할 수 있도록 칩단위로 수리합니다.(복구 목적이 아닌 메인보드만 수리시 초기화 상태로 출고 될 수 있습니다.)</p>
				</div>
			</section>
			<br />
			<br />
			<h3>내방접수</h3>
			<p>※ 단말기 전체 점검을 위해 단말기의 비밀번호를 기재해 주시기 바랍니다.</p>
			<br>
			<!-- visit -->
			<div class="slider carousel steps-2 cards steps-noborder">
				<div class="row">
					<ul data-max-items="3" data-fx="scroll" data-circular="false">
						<li class="col-sm-4 card card-light card-lighter">
							<a href="javascript:void(0)">
								<div class="icon icon-color icon-size-4">
									<i class="fa  fa-phone"></i>
								</div>
								<h4>1.게시판 및 전화문의</h4>
								<p>문의 상담</p>
							</a>
						</li>
						<li class="col-sm-4 card card-light card-lighter">
							<a href="javascript:void(0)">
								<div class="icon icon-color icon-size-4">
									<i class="fa fa-edit"></i>
								</div>
								<h4>2.내방/접수</h4>
								<p>해당서류 지참</p>
							</a>
						</li>
						<li class="col-sm-4 card card-light card-lighter">
							<a href="javascript:void(0)">
								<div class="icon icon-color icon-size-4">
									<i class="fa fa-stethoscope"></i>
								</div>
								<h4>3.진단/테스트</h4>
								<p>견적안내</p>
							</a>
						</li>
						<li class="col-sm-4 card card-light card-lighter">
							<a href="javascript:void(0)">
								<div class="icon icon-color icon-size-4">
									<i class="fa fa-wrench"></i>
								</div>
								<h4>4.수리/결과안내</h4>
								<p>복구결과안내</p>
							</a>
						</li>
						<li class="col-sm-4 card card-light card-lighter">
							<a href="javascript:void(0)">
								<div class="icon icon-color icon-size-4">
									<i class="fa fa-truck"></i>
								</div>
								<h4>5.결재/제품출고</h4>
								<p>직접 출고</p>
							</a>
						</li>
					</ul>
					<a href="" class="slider-arrow arrow-out slider-arrow-prev"></a>
					<a href="" class="slider-arrow arrow-out slider-arrow-next"></a>
				</div>
				<nav class="slider-pagination"></nav>
			</div>
			<!-- /.visit -->
			<hr class="hr-nobg">
			<h3>택배접수</h3>
			<p>※ 단말기 전체 점검을 위해 단말기의 비밀번호, 잠금패턴, 클라우드 잠금은 해제 또는 코드 내용을 기재해 주시기 바랍니다.</p>
			<br>
			<!-- delivery -->
			<div class="slider carousel steps-2 cards steps-noborder">
				<div class="row">
					<ul data-max-items="3" data-fx="scroll" data-circular="false">
						<li class="col-sm-4 card card-light card-lighter">
							<a href="javascript:void(0)">
								<div class="icon icon-color icon-size-4">
									<i class="fa  fa-phone"></i>
								</div>
								<h4>1.게시판 및 전화문의</h4>
								<p>문의 상담</p>
							</a>
						</li>
						<li class="col-sm-4 card card-light card-lighter">
							<a href="javascript:void(0)">
								<div class="icon icon-color icon-size-4">
									<i class="fa fa-edit"></i>
								</div>
								<h4>2.제품 및 서류 발송</h4>
								<p>택배 발송</p>
							</a>
						</li>
						<li class="col-sm-4 card card-light card-lighter">
							<a href="javascript:void(0)">
								<div class="icon icon-color icon-size-4">
									<i class="fa fa-stethoscope"></i>
								</div>
								<h4>3.진단/테스트</h4>
								<p>견적통보</p>
							</a>
						</li>
						<li class="col-sm-4 card card-light card-lighter">
							<a href="javascript:void(0)">
								<div class="icon icon-color icon-size-4">
									<i class="fa fa-wrench"></i>
								</div>
								<h4>4.수리/결과통보</h4>
								<p>복구결과통보</p>
							</a>
						</li>
						<li class="col-sm-4 card card-light card-lighter">
							<a href="javascript:void(0)">
								<div class="icon icon-color icon-size-4">
									<i class="fa fa-truck"></i>
								</div>
								<h4>5.결재/제품출고</h4>
								<p>택배 발송</p>
							</a>
						</li>
					</ul>
					<a href="" class="slider-arrow arrow-out slider-arrow-prev"></a>
					<a href="" class="slider-arrow arrow-out slider-arrow-next"></a>
				</div>
				<nav class="slider-pagination"></nav>
			</div>
			<!-- /.delivery -->
		</div>
			<!--/.process -->
			<!-- button -->
		<div class="container">
			<p class="text-center">
				<a href="application_mainboard.html" class="btn btn-inverse btn-border btn-xl btn-wide">수리의뢰</a>
			</p>
			<br>
		</div>
			<!-- ./button -->
	</div>

	<!-- /.content -->

	<script>

		window.onload = function(){
	        function getHeight(target){
	            var arr = [];
	            var temp = 0;
	            target.css({
	                height:'auto'
	            });
	            target.each(function(){
	                arr.push($(this).outerHeight());
	            });
	            for(i in arr){
	                (arr[i] > temp)? temp = arr[i] : temp = temp;
	            }
	            target.css({
	                height:temp
	            });
	        }

	        getHeight($('.box_expact .card'));
	        $(window).resize(function(){
	            getHeight($('.box_expact .card'));
	        })
		}
	</script>
</div>
<!-- /.wrapper -->

<!-- FOOTER -->
<footer class="footer footer-dark">

		<!-- FOOTER EXTRA -->
	<div class="footer-extra">
		<div class="container">

			<a class="navbar-brand pull-left" href="/ifix/views/home.html"><img
			src="/ifix/public/images/blogo.png"
			alt="Mexico" style="width:280px;height:auto;"></a>
			<address class="pull-left">
				<p>
					<span>업체명 : 아이픽스잇코리아(드림텍)&nbsp;&nbsp;|&nbsp;&nbsp;대표자 : 백승봉 (Email : hpas2002@naver.com)</span>
				</p>
				<p>
					<span>사업자등록번호 : 214-05-75575&nbsp;&nbsp;</span>
					<span class="footer_divice">|</span>
					<span>&nbsp;&nbsp; 통신판매업신고번호 : 제2010-서울서초-0585호</span>
				</p>
				<p>
					<span>주소 : 서울특별시 서초구 서초동 1318-13 서초현대타워 803호 &nbsp;&nbsp;</span>
					<span class="footer_divice">|</span>
					<span>&nbsp;&nbsp;전화번호 : 070-4028-5234</span>
				</p>
				<p class="copyrights">
					&copy; Copyrights 2016 아이픽스잇코리아&nbsp;
				</p>
			</address>
			<br>

			<!-- <div class="divider pull-right"></div> -->
			<nav class="extra-menu pull-right">
				<a href="intro.html">회사소개</a>
				<a href="location.html">지점안내</a>
				<a href="notice.html">공지사항</a>
			</nav>

		</div>
	</div>
	<!-- /.footer-extra -->

</footer>

<!--<script src="/ifix/public/js/jquery-2.1.4.min.js"></script>-->
<script src="/ifix/public/js/bootstrap.min.js"></script>
<script src="/ifix/public/js/plugins.js"></script>
<script src="/ifix/public/js/fontawesome-markers.min.js"></script>
<script src="/ifix/public/js/custom.js"></script>


<script type="text/javascript">

$(function(){
	var filter = "win16|win32|win64|mac";

	if(navigator.platform){
		if(0 > filter.indexOf(navigator.platform.toLowerCase()) || getInternetExplorerVersion() == 8){
		// mobile
// 			$('.video_a').addClass('mobile_image_a').find('video').addClass('mobile_video');
// 			$('.video_b').addClass('mobile_image_b').find('video').addClass('mobile_video');
// 			$('#open_pop .popup_pc').css('display','none').find('.popup_mobile').css('display','block').parents('#open_pop').css('left',0);
			$('#open_pop .popup_pc').css('display','none').next().css('display','block');
			$('#open_pop .popup_pc').next().next().css('display','block');
			$('#open_pop').css('left',0);

			$("ul.banner_video").find("li").eq(0).css("background-image","url(/ifix/public/images/mobile_a.jpg)");
			$("ul.banner_video").find("li").eq(1).css("background-image","url(/ifix/public/images/mobile_b.jpg)");
		}else{
			// pc
			// $('.video_a').addClass('mobile_image_a').find('video').addClass('mobile_video');
			// $('.video_b').addClass('mobile_image_b').find('video').addClass('mobile_video');
			// $('#open_pop .popup_pc').css('display','none').next().css('display','block').parents('#open_pop').css('left',0)
		}
	}

})

</script>

	<!-- {%if isReal%}
	<script type="text/javascript" src="http://wcs.naver.net/wcslog.js"></script>
	<script type="text/javascript">
	if(!wcs_add) var wcs_add = {};
	wcs_add["wa"] = "ce9528f3b9dc20";
	wcs_do();
	</script> -->


		<!--  CPCGUARD SCRIPT V6.0 -->
		<!-- {%if deviceInfo.Mobile%}
			<script type="text/javascript">
				(function(){
				var _script = document.createElement("script"); _script.id= "include_cpc_script"; _script.type = "text/javascript"; _script.charset = "utf-8"; _script.async = true; _script.src = (document.location.protocol || "http:") + "//nsc1.cpcguard.com/mobile/cpc_script.js";
				 var _node = document.getElementsByTagName("script")[0]; _node.parentNode.insertBefore(_script, _node);
			  })();
			</script>
		{%else%}
			<script type="text/javascript">
				(function(){
				var _script = document.createElement("script"); _script.id= "include_cpc_script"; _script.type = "text/javascript"; _script.charset = "utf-8"; _script.async = true; _script.src = (document.location.protocol || "http:") + "//nsc1.cpcguard.com/new/cpc_script.js";
				 var _node = document.getElementsByTagName("script")[0]; _node.parentNode.insertBefore(_script, _node);
			  })();
			</script>
		{%endif%} -->
    <!-- CPCGUARD SCRIPT END -->

	<!-- {%endif%} -->

<script type="text/javascript">
    var roosevelt_params = {
        retargeting_id:'oNPgJSEL8.m72rISWr_urQ00',
        tag_label:'i5HV7ifuT_ilUrj76jyh1Q'
    };
</script>
<script type="text/javascript" src="//adimg.daumcdn.net/rt/roosevelt.js" async></script>

</body>
</html>
